<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <img width="300px" src="https://img.freepik.com/vector-gratis/ups-error-404-ilustracion-concepto-robot-roto_114360-5529.jpg?w=826&t=st=1681231832~exp=1681232432~hmac=6f2988fff16daa59eeb708e2a02e65ad4d7113b08f0eb662f046f4e006e2ece6" alt="">
        <p class="lead">
            La página que buscas, no existe.
        </p>
        <a href="#/home" class="btn k-btn-pry-yellow">Ir a home</a>
    </div>
</div>