<div class="container py-4">
    <div class="row">
        <div class="col-md-5">
            <div class="container-image">
                <img src="{{urlImage}}/{{objProducto.imageUrl}}">
            </div>
        </div>
        <div class="col-md-7 border card p-4">
            <div class="d-flex justify-content-between">
                <p class="fw-light">{{objProducto.typeID}}</p>
                <button mat-icon-button color="warn" matTooltip="Agregar a favoritos">
                    <mat-icon>favorite_border</mat-icon>
                </button>
            </div>
            <h1><b>{{objProducto.title | uppercase}}</b></h1>
            <p class="h3">
                <b class="text-muted fst-normal txt-yellow">$ {{objProducto.precio}}</b>
            </p>
            <p class="fw-light">Descripción del producto:</p>
            <p class="h6 fw-light">
                {{objProducto.description}}
            </p>
                <button mat-raised-button class="my-3">
                    <mat-icon>payment</mat-icon>
                    Comprar ahora
                </button>
                <button mat-stroked-button>
                    <mat-icon>shopping_cart</mat-icon>
                    Agregar al carrito
                </button>
        </div>
    </div>
</div>