<div class="container">
    <div *ngIf="loading" class="d-flex justify-content-center py-5">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="d-flex justify-content-center py-5">
        <img width="500px" src="https://img.freepik.com/vector-gratis/ilustracion-concepto-confirmado_114360-5400.jpg?w=826&t=st=1681272300~exp=1681272900~hmac=53a8055b8a9ed48314c42968e1ab14d63a75c4ad3b6e67368b647cbfce167aac" alt="">
    </div>
</div>