<!-- Navbar -->
<nav class="navbar navbar-expand-lg shadow-sm" [ngClass]="{'bg-light': !_auth.isAdmin, 'bg-yellow': _auth.isAdmin}">
    <div class="container-fluid">
        <button class="navbar-toggler" [matMenuTriggerFor]="matPryMenuPublic" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #matPryMenuPublic="matMenu">
            <div>
                <button class="nav-link text-white" mat-menu-item (click)="routerLink('/home')">
                    INICIO
                </button>

                <button mat-menu-item class="nav-link text-white" [matMenuTriggerFor]="matMenuLicoresResp">
                    LICORES
                </button>
                <mat-menu #matMenuLicoresResp="matMenu">
                    <button mat-menu-item *ngFor="let marca of objTipos" (click)="verMarca(marca)"
                        class="text-white"><mat-icon>radio_button_unchecked</mat-icon>{{marca.name}}
                    </button>
                </mat-menu>
                <button class="nav-link text-white" mat-menu-item (click)="routerLink('/home/mis-compras')">
                    MIS COMPRAS
                </button>
                <button mat-menu-item class="nav-link text-white" [matMenuTriggerFor]="matMenuAboutResp">
                    ACERCA DE NOSOTROS
                </button>
                <mat-menu #matMenuAboutResp="matMenu">
                    <button class="text-white" mat-menu-item (click)="routerLink('/aviso-privacidad')">AVISO DE
                        PRIVACIDAD</button>
                    <button mat-menu-item (click)="routerLink('/mision-vision')">MISIÓN Y VISIÓN</button>
                    <button mat-menu-item (click)="routerLink('/preguntas-frecuentes')">PREGUNTAS FRECUENTES</button>
                </mat-menu>
                <button class="nav-link text-white" mat-menu-item (click)="routerLink('/pedidos')">
                    PEDIDOS
                </button>
            </div>
        </mat-menu>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a routerLink="[/home]" class="navbar-brand mt-2 mt-lg-0">
                <img src="../../../assets/resources/logo.png" height="60" loading="lazy" />
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!_auth.isAdmin">
                <button class="nav-link" mat-button (click)="routerLink('/home')">
                    INICIO
                </button>
                <li class="nav-item mx-2">
                    <button class="nav-link" mat-button [matMenuTriggerFor]="matMenuLicores">
                        LICORES
                        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #matMenuLicores="matMenu">
                        <button mat-menu-item *ngFor="let marca of objTipos"
                            (click)="verMarca(marca)"><mat-icon>radio_button_unchecked</mat-icon>{{marca.name}}</button>
                    </mat-menu>
                </li>
                <li class="nav-item mx-2">
                    <button class="nav-link" mat-button (click)="routerLink('/home/mis-compras')">
                        MIS COMPRAS
                    </button>
                </li>
                <li class="nav-item mx-2">
                    <button class="nav-link" mat-button [matMenuTriggerFor]="matMenuAbout">
                        ACERCA DE NOSOTROS
                        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #matMenuAbout="matMenu">
                        <button mat-menu-item (click)="routerLink('/aviso-privacidad')">AVISO DE PRIVACIDAD</button>
                        <button mat-menu-item (click)="routerLink('/mision-vision')">MISIÓN Y VISIÓN</button>
                        <button mat-menu-item (click)="routerLink('/preguntas-frecuentes')">
                            PREGUNTAS FRECUENTES
                        </button>
                    </mat-menu>
                </li>

                <form class="d-none d-md-flex input-group w-auto my-auto" *ngIf="!_auth.isAdmin">
                    <input autocomplete="off" type="search" class="form-control"
                        placeholder='Buscar producto' style="min-width: 225px;" />
                    <span class="input-group-text border-0"><mat-icon>search</mat-icon></span>
                </form>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="_auth.isAdmin">
                <button mat-button (click)="routerLink('/admin')">
                    DASHBOARD
                </button>
                <button mat-button (click)="routerLink('/admin/clientes')">
                    CLIENTES
                </button>
                <button mat-button (click)="routerLink('/admin/productos')">
                    PRODUCTOS
                </button>
                <button mat-button (click)="routerLink('/admin/tipos')">
                    TIPOS DE LICOR
                </button>
            </ul>
            <div class="d-flex align-items-center">
                <button (click)="routerLink('/home/login')" *ngIf="!_auth.isAuth" class="shadow k-btn-pry-yellow"
                    mat-button><mat-icon matSuffix>login</mat-icon>
                    INGRESAR
                </button>
                <div class="dropdown" *ngIf="_auth.isAuth">
                    <a class="d-flex align-items-center" aria-expanded="false">
                        <img src="../../../assets/resources/perfilimagen.png" class="rounded-circle shadow" height="35"
                            width="35" loading="lazy" [matMenuTriggerFor]="matMenuPerfil" />
                    </a>
                    <mat-menu #matMenuPerfil="matMenu">
                        <button mat-menu-item><mat-icon>account_circle</mat-icon> Mi perfil</button>
                        <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Cerrar sesión</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</nav>