<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 0.5rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">
                                INICIAR SESIÓN</h2>
                            <p class="text-white-50 mb-5">
                                Ingresa tu usuario y contraseña para continuar!
                            </p>
                            <form [formGroup]="form">
                                <div class="form-outline form-white mb-2">
                                    <mat-form-field appearance="outline" color="accent" class="form-full">
                                        <mat-label>Correo electrónico</mat-label>
                                        <input matInput formControlName="email"
                                            placeholder="Ingrese su correo electrónico" type="email" />
                                    </mat-form-field>
                                </div>
                                <div class="form-outline form-white mb-2">
                                    <mat-form-field appearance="outline" color="accent" class="form-full">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput #pass matInput [type]="clear ? 'text' : 'password'"
                                            formControlName="password" placeholder="Ingrese su contraseña" />
                                        <mat-icon (click)="clear = !clear" matSuffix
                                            color="accent">
                                            {{ clear ? "visibility" : "visibility_off" }}
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                            </form>
                            <p class="small mb-5 pb-lg-2">
                                <a class="text-white-50" href="/home/forgot-pwd">Olvidaste tu contraseña?</a>
                            </p>
                            <button class="btn btn-outline-light px-5" (click)="login()" type="button">Iniciar
                                sesión
                            </button>
                        </div>

                        <div>
                            <p class="mb-0">No tienes ninguna cuenta?
                                <a href="/home/singup" class="text-white-50">Crear una cuenta nueva</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>