<!-- <img src="./../../../../assets/resources/sld1.png" class="img-fluid" alt="Responsive image"> -->
<div class="container">
    <div class="py-4">
        <p class="h3">{{txtSearch}}</p>
        <p class="h5 fw-light">{{objProductos ? objProductos.length : '0'}} resultados</p>
    </div>
    <mat-divider></mat-divider>
    <div class="py-4" *ngIf="objProductos || !loading">
        <div class="row">
            <div class="col-md-3 g-4 pb-4 py-4 rounded">
                <h2 class="fw-light"><b>Filtrar por precio</b></h2>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <mat-form-field class="col-5" color="accent">
                                <mat-label>Mínimo</mat-label>
                                <input matInput [(ngModel)]="min" min="0" type="number" (change)="validaFiltroPrecio()">
                            </mat-form-field>
                            <mat-form-field class="col-5" color="accent">
                                <mat-label>Máximo</mat-label>
                                <input matInput [(ngModel)]="max" min="0" type="number" (change)="validaFiltroPrecio()">
                            </mat-form-field>
                            <button class="col-2 bg-light" matTooltip="Aplicar" (click)="aplicarFiltros()" mat-icon-button [disabled]="priceError">
                                <mat-icon color="accent">search</mat-icon>
                            </button>
                        </div>
                        <div class="alert alert-danger col-md-12" role="alert" *ngIf="priceError">
                            El precio máximo debe ser mayor al mínimo.
                        </div>
                    </div>
                </div>

                <h2 class="fw-light pt-3"><b>Filtrar por sabor</b></h2>
                <mat-radio-group [(ngModel)]="typeSelectID" (change)="aplicarFiltros()">
                    <mat-radio-button class="d-block p-2" [value]="'0'" >
                        Ninguno
                    </mat-radio-button>
                    <mat-radio-button class="d-block p-2" *ngFor="let type of objTypes" [value]="type._id.$oid" >
                        {{type.name}}
                    </mat-radio-button>
                </mat-radio-group>

                <h2 class="fw-light pt-3"><b>Filtrar por categoría</b></h2>
                <mat-radio-group [(ngModel)]="categoriaSelect" (change)="aplicarFiltros()">
                    <mat-radio-button class="d-block p-2" [value]="'0'" >
                        Ninguno
                    </mat-radio-button>
                    <mat-radio-button class="d-block p-2" *ngFor="let cat of objCategoria" [value]="cat" >
                        {{cat}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="row g-4 col-md-9">
                <div class="col-md-12 col-sm-12 col-lg-6" *ngFor="let prod of objProductos">
                    <div class="card hover-shadow" (click)="verProducto(prod)" matTooltip="Ver producto">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-4 py-4">
                                    <div class="container-image">
                                        <img src="{{urlImage}}/{{prod.imageUrl}}">
                                    </div>
                                </div>
                                <div class="col-md-8 p-4">
                                    <p class="h5 fw-light text-truncate">
                                        <b>{{prod.title}}</b>
                                    </p>
                                    <p class="h6 fw-light text-truncate" [matTooltip]="prod.description">
                                        {{prod.description}}
                                    </p>
                                    <p class="h7 fw-light">{{prod.marca}}</p>
                                    <p class="h6 fw-light">Sabor: <b>{{getType(prod.typeID)}}</b></p>
                                    <p class="h3">
                                        <b class="text-muted fst-normal txt-yellow">$ {{prod.precio}}</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="loading" class="d-flex justify-content-center py-5">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <div class="py-4" *ngIf="!objProductos || objProductos.length === 0">
        <p class="h3">No se encontraron resultados de "{{txtSearch}}"</p>
    </div>
</div>