<div class="container justify-content-md-center">
    <div class="m-4 py-5">
        <p class="h4 text-center fw-bold">Misión</p>
        <p class="fw-light text-center">
            Elaborar bebidas de buena calidad que ofrezcan un gusto al paladar excediendo las expectativas de nuestros
            clientes.
            Brindar un excelente servicio y un precio justo en armonía con el crecimiento económico de la región.
        </p>
    </div>
    <div class="m-4 py-5">
        <p class="h4 text-center fw-bold">Visión</p>
        <p class="fw-light text-center">
            Ser una sucursal líder en el mercado de bebidas que sea garantía de satisfacción al consumidor y permita el
            crecimiento constante.
            Superar los ingresos que fortalezcan el nivel económico de sus colaboradores sin descuidar la importancia
            que amerita el medio ambiente y la ecología.
        </p>
    </div>
</div>