/* You can add global styles to this file, and also import other style files */

@import "./assets/styles/colores.scss";
@import "./assets/styles/buttons.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.form-full {
  width: 100%;
}
.shadow {
  border: none;
}
.b-nn {
  border: none;
}
.sinpadding .mat-dialog-container {
  padding: 0 !important;
  border-radius: 4px;
}
.hover-shadow {
  transition: transform 0.5s;
  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
  }
}
.text-pry-yellow {
  color: $pry-yellow !important;
}
.container-image img {
  height: 300px;
  width: 100%;
  object-fit: scale-down;
}
.container-image-types img {
  height: 160px;
  width: 100%;
  object-fit: scale-down;
}
.nav-link:hover {
  color: $pry-yellow !important;
}
.gradient-custom {
  background-color: $pry-yellow;
}
.mat-divider {
  border-top-color: rgb(170, 170, 170);
}

// MAT TABLE STYLES

table {
  width: 100%;
  min-width: 600px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(95, 95, 95);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #555555;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

// MODALS STYLES




// BREADCRUMS

.breadcrumb-app {
  display: inline-block;
}
.breadcrumb-app:first-child:before {
  display: none;
}
.breadcrumb-app:before {
  content: "|";
  margin: 0 10px 0 8px;
}
.breadcrumb-item {
  padding: 0 8px;
  font-weight: 300;
}
.breadcrumb-item.active {
  font-weight: 500;
}
.breadcrumb-link {
  text-decoration: none;
  color: $pry-black;
}
.breadcrumb-link:hover {
  color: $pry-yellow;
}
