// BOTONES PRIMARIOS
@import './colores.scss';
.k-btn-primary,
.k-btn-secondary{
  height: 32px !important;
  font-family: "Open Sans" !important;
  font-size: 14px !important;
  text-align: center !important;
  border-radius: 2px !important;
  line-height: 0 !important;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  mat-icon {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
  }
}
.k-btn-primary {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25)!important;
  color: #fff !important;
}
.k-btn-middle {
  height: 40px !important;
}

.k-btn-pry-gray {
  background-color: #BDBDBD !important;
}

.k-btn-pry-black {
  background-color: #21243d !important;
}

.k-btn-pry-yellow {
  background-color: $pry-yellow !important;
}

.k-btn-pry-yellow {
  background-color: $pry-yellow !important;
  color: $pry-black !important;
}

.icon-pry-yellow {
  color: $pry-yellow !important;
}

.k-btn-pry-yellow:disabled {
  background-color: #BDBDBD !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
}

.k-btn-pry-danger {
  background-color: $pry-red !important;
}

.k-btn-icon {
  mat-icon {
    width: 18px !important;
    height: 18px !important;
  }
}

.k-btn-primary:disabled {
  background-color: #BDBDBD !important;
  box-shadow: none !important;
  cursor: not-allowed !important;
}

.btn-close-modal {
  color: #828282;
}